body{
  background-color: rgba(124, 173, 219, 0.212);
}

.navbar{
  width: 13%;
  height: 100vh;
  float: left;
  background-color: rgb(242, 248, 250);
  margin: 15px;
  border-radius: 8px;
  display: flex;
  justify-content: start;
  gap: 150px;
  align-items: center;
  flex-direction: column;
  box-shadow: 2px 2px 2px 1px rgba(147, 165, 172, 0.534) ,  -5px 2px 2px rgba(147, 165, 172, 0.534);;

}
.logo_company_name{
  margin-top: 20px;
}



.icon {
  width: 210px;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 15px;
  padding: 7px;
  font-size: 20px;
  background-color: white;
  border-radius: 5px;
  border: none;
  color: blue;
  box-shadow: 2px 2px 2px 1px rgba(81, 102, 109, 0.473) ;
  align-items: center;
  gap: 10px;
}
.log{
  display: flex;
  flex-direction: column;
  justify-content: end;
  margin-top: 150px;
}
.properties{
  float: right;
  width: 80%;
  
}

.search input{
  border: none;
  background-color: transparent;
  outline: none;
}

.search{

  width: 350px;
  padding: 5px;
  border-radius: 15px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 2px 1px rgba(81, 102, 109, 0.473) ;
}

.prop_section{
  margin-top: 50px;
}

.prop_wrapper{
  width: 90%;
  background-color: white;
  display: flex;
  border-radius: 8px;
  align-items: center;
 


}



