body {
 background: transparent linear-gradient(90deg, #1642891A 0%, #1B52AB33 100%) 5% 5% no-repeat padding-box;
 font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
  Helvetica, Arial, "Lucida Grande", sans-serif;;
 
}

.navbar {
  width: 262px;
  height: 100vh;
  float: left;
 background: #e2eeff;
  margin: 15px;
  border-radius: 19px;
  display: flex;
  justify-content: start;
  gap: 75px;
  align-items: center;
  flex-direction: column; 
  box-shadow: 1px 1px 20px 1px #1b3d777e, -1px 1px 2px 1px #1b3d7770 ;
 
}
.logo_company_name {
  margin-top: 30px;
}

.icon {
  width: 212px;
  display: flex;
  margin-bottom: 10px;
  padding: 7px;
  font-size: 16px;
  background-color: white;
  border-radius: 5px;
  border: none;
  color: #2570C0;
  box-shadow: 2px 2px 2px 1px #1B3C7759;
  align-items: center;
  gap: 20px;
  font-weight: 600;
}

.icon:hover {
  background-color: #E6ECFF;
}
.log {
  display: flex;
  justify-content: center;
}
.properties {
  float: right;
  width: 80%;
  
}

.search input {
  border: none;
  background-color: transparent;
  outline: none;
}

.search {
  width: 350px;
  padding: 5px;
  border-radius: 15px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 2px 1px rgba(81, 102, 109, 0.473);
}

.prop_section {
  margin-top: 50px;
}

.prop_wrapper {
  width: 90%;
  background-color: white;
  display: flex;
  border-radius: 16px;
  height: 165px;
  box-shadow: 2px 2px 2px 1px #1B3C77, -1px 1px 2px 1px #1B3C77 ;
  opacity: 1;
}

.column-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.display-section {
  display: flex;
  flex-direction: column;
  width: 80%;
}
.investor-section {
  background-color: #E6ECFF;
  width: 100%;
  
}

.info {
  display: flex;
  gap: 50px;
}
.property_flex {
  display: flex;
  height: 85%;
  align-items: center;
  background-color: #F0F6FF;
}

.fin-text {
  color: #7F9DC9;
  font-weight: 600;
}
.fin-amount {
  font-size: 25px;
  color: #000000;
  font-weight: bold;
}

.financial-flex {
  display: flex;
  justify-content: end;
  gap: 100px;
  width: 75%;
}

.investors-flex {
  display: flex;
  gap: 25px;
  align-items: center;
}
.investors_name_flex {
  display: flex;
  gap: 35px;
  justify-content: center;
  width: 65%;

}
.investor_name {
  background-color: white;
  padding: 3px 15px;
  border-radius: 8px;
  color: #2570C0;
}

.logOut {
  position: absolute;
  bottom: 75px;
  width: 210px;
  display: flex;
  padding: 7px;
  font-size: 20px;
  background-color: white;
  border-radius: 5px;
  border: none;
  color: rgb(0, 0, 19);
  box-shadow: 2px 2px 2px 1px rgba(81, 102, 109, 0.473);
}
